<%= link_to book_path(book), class:"flex place-content-center border-gromada-gray border book-block mb-2", data: { turbo: false } do %>
  <div class="m-3 content-block">
    <div class="image-block flex place-content-center">
      <%= image_tag book.cover.variant(resize_to_limit: [150, 200]), class: "w-[50%] mb-2 h-[200px]", loading: :lazy, alt:"Обкладинка" %>
    </div>
    <h5 class="text-xl font-bold"><%= book.name %></h5>
    <div class="mb-2 text-gromada-green"><%= book.user.full_name %></div>
    <div class="flex flex-wrap mb-2">
      <% book.genres.all.each do |genre| %>
        <div class="px-1 tag border-gromada-green border rounded-md text-gromada-green"><%= genre.name %></div>
      <% end %>
    </div>
    <p><%= "#{book.short_description[0..100]}#{book.short_description.size > 100 ? "..." : ""}" %></p>
  </div>
<% end %>