<div data-turbo="false" data-controller="sections">
  <div class="text-center mb-4 py-3 bg-gromada-light-gray">Перед тим як опублікувати книгу, будь ласка, ознайомтесь з <a class="text-gromada-green">нашими правилами</a></div>

  <div class="mb-4 flex place-content-center align-items-center">
    <input type="radio" id="book" name="section" class="hidden" data-action="input->sections#book" checked />
    <label class="mx-2" for="book">
      <div class="my-2 flex place-content-center align-items-center create-book-section">
        <img src="../icons/book.svg" class="click-svg"/>
        <span class="text-lg">Книга</span>
      </div>
      <div class="hidden bg-gromada-green selected-line"></div>
    </label>
    <input type="radio" id="rewards" name="section" class="hidden" data-action="input->sections#rewards" />
    <label class="mx-2" for="rewards">
      <div class="my-2 flex place-content-center align-items-center create-book-section">
        <img src="../icons/reward.svg" class="click-svg"/>
        <span class="text-lg">Нагороди</span>
      </div>
      <div class="hidden bg-gromada-green selected-line"></div>
    </label>
    <input type="radio" id="contacts" name="section" class="hidden" data-action="input->sections#contacts" />
    <label class="mx-2" for="contacts">
      <div class="my-2 flex place-content-center align-items-center create-book-section">
        <img src="../icons/contact.svg" class="click-svg"/>
        <span class="text-lg">Контакти</span>
      </div>
      <div class="hidden bg-gromada-green selected-line"></div>
    </label>
  </div>

  <%= render "shared/error_messages", resource: @book %>
  <%= form_for :book, url: books_path(@book) do |f| %>
    <div class="flex place-content-center">
      <div id="book_section" class="w-[40%]">
        <h1 class="text-4xl text-center font-extrabold">Про книгу</h1>
        <%= f.label :name, "Назва книги*", class: "text-xl"%><br />
        <%= f.text_field :name, class: "mb-4 w-full" %><br />

        <%= f.label :short_description, "Короткий опис книги*", class: "text-xl"%><br />
        <%= f.text_field :short_description, class: "mb-4 w-full"%><br />

        <%= f.label :cover, "Обкладинка*", class: "text-xl"%><br />
        <%= f.file_field :cover, class: "mb-4 w-full"%><br />
      </div>

      <div id="rewards_section" class="hidden w-[40%]">
        <h1 class="text-4xl text-center font-extrabold">Нагороди</h1>
        <%= f.fields_for :rewards, @rewards do |reward| %>
          <%= reward.label :donation_size, "Донат*", class: "text-xl"%><br />
          <%= reward.text_field :donation_size, class: "mb-4 w-full", placeholder: "₴" %><br />
          
          <div class="border-2 p-4">
            <%= reward.label :item_name, "Предмет*", class: "text-xl"%><br />
            <%= reward.text_field :item_name, class: "mb-4 w-full" %><br />

            <%= reward.label :picture, "Зображення (не обов’язково)*", class: "text-xl"%><br />
            <%= reward.file_field :picture, class: "mb-4 w-full"%><br />

            <%= reward.label :description, "Опис (не обов’язково)", class: "text-xl"%><br />
            <%= reward.text_field :description, class: "mb-4 w-full"%><br />
          </div>
        <% end %>
      </div>

      <div id="contacts_section" class="hidden w-[40%]">

      </div>
    </div>
    <div class="flex place-content-center">
      <%= f.submit %>
    </div>
  <% end %>
</div>