<div class="flex place-content-center mb-2">
  <div class="m-3 flex flex-col gap-8">

    <div class="flex w-full place-content-center">
      <div class="flex flex-col gap-3 items-center">
        <div class="image-block">
          <%= image_tag @book.cover.variant(resize_to_limit: [300, 400]), class: "mb-2", loading: :lazy, alt:"Обкладинка" %>
        </div>
        <%= link_to "Редагувати", edit_book_path(@book), class: "text-gromada-green-700" if @book.user == current_user %>
      </div>

      <div class="p-4 w-[50%] flex flex-col gap-4">
        <h5 class="text-3xl font-bold"><%= @book.name %></h5>
        <div class="font-bold text-gromada-green-700 text-lg"><%= @book.user.full_name %></div>

        <% if @book.genres.count > 0 %>
          <div class="flex flex-wrap">
            <% @book.genres.all.each do |genre| %>
              <div class="px-1 tag text-sm border-text-gromada-green-700 border rounded-md text-gromada-green-700"><%= genre.name %></div>
            <% end %>
          </div>
        <% end %>

        <div class="cursor-pointer bg-gromada-green rounded-sm py-2 px-4 w-fit" data-action="click->modal#openDialogByID" data-modal-id-param="donate">
          <span class="font-medium">Передзамовити</span>
        </div>

        <p>Зібрано: <%= number_to_currency(@book.collected_amount_uah, unit: "₴", precision: 2) %></p>

        <%= render template: "/shared/dialog_window", locals: { content: '/books/donate', id: 'donate', title: 'Передзамовлення' } %>
      </div>
    </div>

    <div>
      <h5 class="text-2xl font-bold">Опис</h5>
      <p><%= @book.short_description %></p>
    </div>

    <iframe height="315" src="https://www.youtube.com/embed/<%= @book.video_url %>" frameborder="0" allowfullscreen></iframe>

    <div>
      <h5 class="text-2xl font-bold">Характеристики</h5>
      <div class="border rounded-sm border-gray-300 bg-gray-50 p-4 flex flex-col gap-2 items-center">
        <span class="text-lg">Мова</span>
        <span class="font-semibold text-xl"><%= @book.language %></span>
      </div>
    </div>

    <div>
      <h5 class="text-2xl font-bold">Нагороди</h5>
      <div class="border border-gray-300 bg-gray-50 p-4">
        <% @book.rewards.each do |reward|%>
          <span class="p-2 border rounded-sm border-gromada-gray bg-gromada-lime"><%= "₴#{reward.donation_size}" %></span>
          <hr class="my-2">
          <h4 class="text-xl"><%= "Передзамовлення на #{reward.donation_size}₴" %></h4>
          <p>Ти отримаєш:</p>
          <li><%= "#{reward.item_name}" %></li>
        <% end %>
      </div>
    </div>

    <div>
      <h5 class="text-2xl font-bold">Коментарі від спільноти</h5>

      <div class="border border-gray-300 bg-gray-50 p-4 space-y-4">
        <% @book.comments.each do |comment| %>
          <div class="flex items-center space-x-2">
            <div class="rounded-full bg-gromada-gray w-10 h-10"></div>
            <span><%= comment.user.full_name %></span>
          </div>
          <p class="ml-12 text-gray-800"><%= comment.text %></p>
        <% end %>
      </div>

      <div class="mt-6">
        <%= form_with(model: [@book, Comment.new], local: true) do |form| %>
          <div class="mb-4">
            <%= form.label :text, "Залишити коментар", class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_area :text, rows: 4, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50" %>
          </div>

          <div>
            <%= form.submit "Надіслати", class: "cursor-pointer px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
