<!DOCTYPE html>
<html class="h-[100vh] w-[100vw]">
  <head>
    <title>VydalaGromada</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col h-full w-full">
    <div class="flex-1 flex flex-col">
      <header class="container mx-auto">
        <%= render "shared/header" %>
      </header>
      <main class="container mx-auto">
        <% if Rails.env.development? %>
          <div class="fixed right-4 top-0 z-[52] bg-gromada-green w-1 h-1 developer-button">
            <%= switch_user_select class: "hidden !w-[20%] translate-x-[-40px] translate-y-[-5px]" %>
          </div>
        <% end %>

        <% unless notice.nil? %>
          <label class="flash">
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div class="alert py-2 px-2 bg-gromada-lime">
              <span class="alertClose">X</span>
              <span class="alertText"><%= notice %>
              <br class="clear"/></span>
            </div>
          </label>
          <% end %>

          <% unless alert.nil? %>
          <label class="flash">
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div class="alert py-2 px-2 bg-gromada-lime">
              <span class="alertClose">X</span>
              <span class="alertText"><%= alert %>
              <br class="clear"/></span>
            </div>
          </label>
          <% end %>
      <%= yield %>
      </main>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
