<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>VydalaGromada</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col h-full">
    <div class="flex-1 flex flex-col">
      <header class="container mx-auto">
        <%= render "shared/header" %>
      </header>
      <main class="container mx-auto">
        <% unless notice.nil? %>
          <label class="flash">
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div class="alert py-2 px-2 bg-lime-200">
              <span class="alertClose">X</span>
              <span class="alertText"><%= notice %>
              <br class="clear"/></span>
            </div>
          </label>
          <% end %>

          <% unless alert.nil? %>
          <label class="flash">
            <input type="checkbox" class="alertCheckbox" autocomplete="off" />
            <div class="alert py-2 px-2 bg-red-400">
              <span class="alertClose">X</span>
              <span class="alertText"><%= alert %>
              <br class="clear"/></span>
            </div>
          </label>
          <% end %>
      <%= yield %>
      </main>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
